<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580767851656-otjnb4njcu5srk9283jnghpkr6g2uppf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580767851656-otjnb4njcu5srk9283jnghpkr6g2uppf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>580767851656-4jmf48m8gmj0u8drculruiru7mct3tg7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCE14ufSXyUXfiP4VcIu3iShrd2P-V-gcw</string>
	<key>GCM_SENDER_ID</key>
	<string>580767851656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boookingapp.galaph</string>
	<key>PROJECT_ID</key>
	<string>ces-project-f8b4e</string>
	<key>STORAGE_BUCKET</key>
	<string>ces-project-f8b4e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580767851656:ios:837d00c3762b2ddacdeb3d</string>
	<key>DATABASE_URL</key>
	<string>https://ces-project-f8b4e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>